<main aria-label="Listagem de Pokémons" class="container my-4">

  <app-pokemons-favoritos [pokemonsFavoritos]="pokemonsFavoritos"></app-pokemons-favoritos>

  <div class="row justify-content-center g-3 mt-2">

    <div *ngFor="let pokemon of pokemons" class="col-10 col-md-6 col-lg-4 col-xl-3 mt-4">

      <app-card-pokemon [pokemon]="pokemon" (statusFavoritoAlterado)="alternarStastusFavorito($event)"></app-card-pokemon>

    </div>

  </div>

  <div class="d-flex justify-content-center mt-4">

    <button (click)="buscarMaisResultados()" class="btn btn-lg btn-primary px-5 rounded-5">
      Carregar mais pokémons
    </button>

  </div>

</main>
