<main aria-label="Listagem de Pokémons" class="container my-4">
  <div class="row justify-content-center g-3">

    <div *ngFor="let pokemon of pokemons" class="col-10 col-md-6 col-lg-4 col-xl-3 mt-4">

      <div class="app-card-pokemon card">
        <a class="stretched-link" [title]="'Detalhes de ' + pokemon.nome" [routerLink]="['/detalhes', pokemon.id]"></a>
        <div class="card-header border-bottom-0 bg-transparent text-center">

          <label class="card-title fs-5 fw-bold">{{ pokemon.nome }}</label>

          <div class="d-flex justify-content-center gap-2">
            <span
              *ngFor="let tipo of pokemon.tipos"
              [ngClass]="coresBackgroundTipoPokemon[tipo.nome]"
              class="border px-3 py-1 rounded-pill text-center">{{ tipo.nome }}
            </span>
          </div>
        </div>

        <div class="card-body d-flex justify-content-center">
          <img class="app-img-pokemon card-img-bottom img-fluid" [src]="pokemon.urlSprite" alt="Foto do {{pokemon.nome}}">
        </div>
      </div>
    </div>

  </div>
</main>
