/* You can add global styles to this file, and also import other style files */

@import "bootstrap";
@import "bootstrap-icons";

.fundo-tipo-normal {
  background-color: #cbcbcb;
}

.fundo-tipo-fogo {
  background-color: #ee6464;
}

.fundo-tipo-agua {
  background-color: #77b2ff;
}

.fundo-tipo-gelo {
  background-color: #87e6fd;
}

.fundo-tipo-voador {
  background-color: #9fc5e8;
}

.fundo-tipo-grama {
  background-color: #7fd96a;
}

.fundo-tipo-inseto {
  background-color: #adba49;
}

.fundo-tipo-veneno {
  background-color: #b278db;
}

.fundo-tipo-terra {
  background-color: #a46739;
}

.fundo-tipo-pedra {
  background-color: #c0ba97;
}

.fundo-tipo-eletrico {
  background-color: #f7cd44;
}

.fundo-tipo-lutador {
  background-color: #ee943b;
}

.fundo-tipo-psiquico {
  background-color: #fc719d;
}

.fundo-tipo-fantasma {
  background-color: #7e537e;
}

.fundo-tipo-dragao {
  background-color: #6a7af0;
}

.fundo-tipo-sombrio {
  background-color: #736464;
}

.fundo-tipo-fada {
  background-color: #f5a6f5;
}

.fundo-tipo-aco {
  background-color: #7eadbe;
}
